<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
	    <link rel="stylesheet"  href="jquery.ui.all.css">
        <title>Ag-Grid Basic Example</title>
        <script src="ag-grid-enterprise.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css"> 
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
	</head>

	<body>
	   		<div id="myGrid" class="ag-theme-alpine" style="height: 1280px;width:1480px"></div>
				</div>
		<!-- <script src="https://unpkg.com/@ag-grid-enterprise/all-modules@24.1.0/dist/ag-grid-enterprise.min.js"></script> -->
		
		    
	   <script src="main.js"></script>
	   
	</body>
</html>
